{% extends 'twitter/base.html' %}
{% load static %}

{% block title %}
followlist
{% endblock title %}

{% block contents %}
<div class="ui text container"><br>
  {% for user in object_list %}
    <div class="alert alert-info" role="alert">
      <table class="ui celled padded table">
        <tr>
          <td>nickname</td>
          <td>{% if user.nickname %}{{ user.nickname }}{% else %}I don't have a name yet. ({{user.pk}}){% endif %}</td>
        </tr>
          <td>introduction</td>
          <td>{% if user.introduction %}{{ user.introduction | linebreaksbr }}{% else %}未設定{% endif %}</td>
        </tr>
      </table>
    </div>
  {% endfor %}
</div>
{% endblock %}
