{% extends 'twitter/base.html' %}
{% load static %}

{% block title %}
tweet_create
{% endblock title %}

{% block contents %}
<div class="ui text container">
	<div class="ui content">
		<form class="ui form" action="" method="POST">
			{% csrf_token %}
			<div class="field tweet">
				<h3 style="padding-top: 1em">What's happening?</h3>
				{{ form.text }}
			</div>
			<div class="ui error message">{{ form.non_field_errors }}</div>
			<div class="ui error message">{{ form.text.errors }}</div>
			<button class="ui blue button" type="submit">tweet</button>
			<a href="{% url 'tweet:top' %}" class="ui right floated button">cancel</a>
		</form>
	</div>
</div>
{% endblock %}
