{% extends 'twitter/base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock customcss %}

{% block title %}
Home
{% endblock title %}

{% block contents %}
<div class="ui text container">
  {% for item in object_list %}
    <div class="alert alert-primary" role="alert">
        <p>author：<a href="{% url 'user:profile' item.user.pk  %}" class="alert-link">
          {% if item.user.nickname %}{{ item.user.nickname }}
          {% else %} I am a CAT ({{ item.user.pk }}){% endif %}</td></a></p>
        <p>{{ item.text | linebreaksbr }}</p>

        {% if request.user in item.like.all %}
          <button class="like" data-url="{% url 'tweet:unlike' item.pk %}">
            <i class="fas fa-thumbs-up"></i>
            <span>{{ post.like_set.count }}</span>
          </button>
        {% else %}
          <button class="like" data-url="{% url 'tweet:like' item.pk %}">
            <i class="far fa-thumbs-up"></i>
            <span>{{ post.like_set.count }}</span>
          </button>
        {% endif %}

    </div>
  {% endfor %}
</div>
{% endblock %}
