{% extends 'twitter/base.html' %}
{% load static %}

{% block title %}
update
{% endblock title %}

{% block contents %}
<div class="ui text container">
  <br><div class="header"><h2>edit</h2></div><br>
  <div class="ui segment">
    <div class="d-flex align-items-center">
      <form role="form" action="{% url 'user:update' user.pk %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">finish</button>
      </form>
      <img class="ui medium centered image" src="{% static 'images/Trueman_show.png' %}">
    <div>
  </div>
</div>
{% endblock %}
