{% extends   'twitter/base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock customcss %}

{% block title %}
profile
{% endblock title %}

{% block contents %}
<div class="ui text container">
    <div class="content">
      <br><div class="header"><h2>Profile</h2></div>
      <div class="text-right">
        {% if user == request.user %}
          <a class="ui right floated text-white button" href="{% url 'user:profile_update' user.pk %}">profile edit</a>
        {% endif %}<br>
      </div>

        <table class="ui celled padded table">
          <tr>
            <td>nickname</td>
            <td>{% if user.nickname %}{{ user.nickname }}{% else %}I don't have a name yet. ({{user.pk}}){% endif %}
              {% if user != request.user %}
                {% if user in request.user.followees.all %}
                <a href="{% url 'tweet:follow' user.pk %}" class="ui right floated red button"  role="button">unfollow</a>
                {% else %}
                <a href="{% url 'tweet:follow' user.pk %}" class="ui right floated blue button" role="button">follow</a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
            <td>introduction</td>
            <td>{% if user.introduction %}{{ user.introduction | linebreaksbr }}{% else %}Not set{% endif %}</td>
          </tr>
        </table>





        <table class="ui celled padded table">
          <thead>
            <tr>
            <th class="ui center aligned header">Like</th>
            <th class="ui center aligned header">following</th>
            <th class="ui center aligned header">follower</th>
          </tr></thead>
          <tbody>
            <tr>
              <td class="ui center aligned header">
                <a href="{% url 'tweet:like_list' user.pk %}">{{ user.related_post.count }}</a>
              </td>
              <td class="ui center aligned header">
                <a href="{% url 'tweet:followees_list' user.pk %}">{{ user.followees.count }}</a>
              </td>
              <td class="ui center aligned header">
                <a href="{% url 'tweet:followers_list' user.pk %}">{{ followers.count}}</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
          </tr></tfoot>
        </table>






        {% for item in Post %}
        {% if user == item.user %}
        <div class="alert alert-primary" role="alert">
            <p>author：<a href="{% url 'user:profile' item.user.pk  %}" class="alert-link">{% if item.user.nickname %}{{ item.user.nickname }}{% else %} I am a CAT ({{item.user.pk}}){% endif %}</td></a></p>
            <p>{{item.text | linebreaksbr}}</p>

            {% if request.user in item.like.all %}
            <a href="{% url 'tweet:like_profile' item.pk %}" class="like-btn add-color"  role="button"><i class="fas fa-heart"></i></a>{{item.like.count}}
            {% else %}
            <a href="{% url 'tweet:like_profile' item.pk %}" class="like-btn" role="button"><i class="far fa-heart"></i></a>{{item.like.count}}
            {% endif %}

            {%if item.user == request.user %}
              <a href="{% url 'tweet:post_update' item.pk %}" class="btn btn-outline-secondary ms-3">edit</a>
              <a href="{% url 'tweet:post_delete' item.pk %}" class="btn btn-dark ms-3">delete</a>
            {% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div><br>
</div>
{% endblock %}
