{% extends "twitter/base.html" %}
{% load static %}

{% block title %}
signup
{% endblock title %}

{% block contents %}
<div class="ui text container">
  <div class="ui center aligned grid" style="padding: 2em 0 2em"><h2>あのーなんだろう、嘘つくのやめてもらってもいいですか？</h2></div>
  <div class="ui segment">
    <div class="d-flex align-items-center">
      <form role="form" action="{% url 'user:signup' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>{{ field.label_tag }}</p>
            <p>{{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">登録</button>
        <a href="{% url 'user:login' %}">ログインへ</a>
      </form>
    <div>
  <div>
      <img class="ui fluid image" src="{% static 'images/hiroyuki.png' %}">
</div>
{% endblock %}
